$primary-color: rgb(255, 255, 255);
$primary-dark: rgb(0, 43, 99);
$primary-special: rgb(0, 85, 196);
$text-color: rgb(255, 255, 255);
$background-color: rgb(58, 143, 255);
$background-grey: rgba(207, 207, 207, 0.26);
$border-radius: 5px;
$primary-text: Montserrat;
$font-size-sm: .9em;
$font-size-md: 1.3em;
$font-size-lg: 2em;
$font-size-xl: 40vh;
$small: 300px;
$medium: 800px;
$button-dark: rgb(0, 43, 99);