
:root {
    --button-background: rgba(53, 93, 175, 0.9);
    --primary-text-color: white;
    --box-shadow: 5px 5px 25px -4px rgba(0,0,0,1);
    --background-color: rgba(18, 26, 34, 0.89);
    --special-text: Montserrat;
    /* --special-text: Comfortaa; */
    --pairing-text: Montserrat;
}

@keyframes marginChange {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 15;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--pairing-text);
    color: white;
}


h4 {
    font-size: 0.9em;
}

i {
    color: var(--primary-text-color);
}

body {
    max-width: 1200px;
    margin: auto;
    box-shadow: var(--box-shadow);
}

.container {
    padding-top: 20px;
    padding-bottom: 100px;
    position: relative; 
    width: 100%;
    background-color: rgba(0, 9, 34, 0.6);
}

.container::before {    
    content: "";
    background-image: url("imgs/nature-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;
    z-index: -1;
    max-width: 1200px;
    margin: auto; 
    box-shadow: 5px 5px 28px -4px rgba(0,0,0,0.55);
}







/* global layout settings
**************************************************************************************************************/






/* flex direction row */
.profile-container,
.experience-sub-section, 
.contact-directery,
.app-card-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}



/* flex direction column */

.profile-section,
.profile-tech,
.apps-section,
.why-me-section,
.contact-me-section {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.app-card {
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}





/*profile section ***********************************************************************************************************************************************************************************************************/





.profile-container {
    padding-top: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: min(85vw, 760px);
}

.profile-section {
    position: relative;
    padding: 2vw 0 min(5vw, 60px) 0;
    margin: auto;
    height: min(75vw, 700px);
    width: min(75vw, 700px);
    border-radius: 50%;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transition: width 1s, height 1s, padding 1s, margin-top 1s, margin-bottom 1s;
    transition-timing-function: ease-in-out;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: min(10vw, 60px);
}

.profile-section:hover {
    z-index: 2;
    width: min(80vw, 730px);
    height: min(80vw, 730px);
    margin-bottom: 5vw;
}

.profile-section:hover > .big-icon {
    font-size: min(19vw, 11em);
}

.profile-tech-bottom {
    width: min(32vw, 22em);
    margin-top: min(1vw, 2em);
    display: flex;
    align-items: center;
    justify-content: space-around;
    animation: marginChange 3s;
}


.profile-tech {
    padding: 20px 0 20px 0;
    animation: paddingChange 3s;
}

.html-icon,
.css-icon,
.javascript-icon {
    font-size: min(17vw, 10em);
    animation: fadeIn 4s;
    transition: font-size 1s;
}

.html-icon:hover,
.css-icon:hover,
.javascript-icon:hover {
    font-size: min(20vw, 12em);
}

.profile-extra-tech {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    height: 5vw;
    padding: min(2vw, 2em) 30px 0 30px;
    width: min(30vw, 20em);
}

.extra-tech {
    animation: fadeIn 4s;
    font-size: min(3.2vw, 2em);
    transition: font-size 1s;
}

.extra-tech:hover {
    font-size: 4vw;
}

.profile-section h1 {
        font-size: min(7.5vw, 4.6em);
        margin: 40px 0 5px 0;
        font-family: var(--special-text);
        text-shadow: 0 0 10px var(--background-color);
    }

.profile-section h2 {
    font-size: min(2.5vw, 2em);
    text-align: center;
    animation: fadeIn 4s;
}



/* media quereys */

@media only screen and (max-width: 500px) {
    .profile-section {
        width: 90vw;
        height: 90vw;
    }

    .profile-section:hover {
        width: 96vw;
        height: 96vw;
        margin-bottom: -15px;
    }

    .profile-tech {
        padding: 10px 0 10px 0;
    }

    

    .profile-tech-bottom {
        width: 40vw;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


    .html-icon,
    .css-icon,
    .javascript-icon {
        font-size: 18vw;
    }

    .html-icon:hover,
    .css-icon:hover,
    .javascript-icon:hover {
        font-size: 22vw;
}

    .extra-tech {
        font-size: 1em;
    }

    .profile-extra-tech {
        padding: 2vw 8vw 0 8vw;
        width: 50vw;
    }

    .profile-section h1 {
        font-size: 6vw;
        margin: 40px 0 3px 0;
    }


    .profile-section h2 {
        font-size: 4vw;
        
    }
}









/* Application showcase section *******************************************************************************************************************************************************************/









.apps-section {
    height: 450px;
    margin: 75px 0 0 0;
}

.app-card-section {
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

.fas {
    font-size: 4em;
}

.app-card { 
    padding: 30px 20px;
    height: 85%;
    width: 29%;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    transition: width 1s, height 1s;
    transition-timing-function: ease-in-out;
}

.app-card p {
    
    text-align: center;
    
    
}

.app-description {
    font-size: .7em;
    opacity: 0;
}

.app-card:hover > p {
    opacity: 1;
}

.app-card:hover {
    height: 100%;
    width: 35%;
}

.app-card:hover > .app-button {
    background-color: var(--button-background);
}

.app-card:hover > .app-description {
    opacity: 1;
    
}

.app-button {
    text-align: center;
    font-size: 1.3em;
    padding: 10px 0;
    width: 150px;
    border-radius: 25px;
    border: 2px solid var(--primary-text-color);
    background-color: rgba(0, 110, 255, 0);
    text-decoration: none; 
    transition: background-color .5s ease-in;
}


/* media quereys ************************ */

@media only screen and (max-width: 800px) {

    .apps-section {
        height: 700px;
        padding: 0;
    }

    .app-card { 
        padding: 30px 0;
        height: 42%;
        width: 42%;
        
    }

    .app-card:hover {
        height: 45%;
        width: 45%;
    }

}


@media only screen and (max-width: 500px) {

    .apps-section {
        height: 1050px;
        padding: 0;
        margin-top: 100px;
    }

    .app-card { 
        padding: 30px 0;
        height: 22%;
        width: 85%;
        border-radius: 5px;
    }

    .app-card:hover {
        height: 25%;
        width: 95%;
    }

}







/* about me section ************************************************************************************************************************************************************ */







.why-me-section:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform-origin: left top;
    transform: skewY(-4deg);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}

.why-me-section {
    padding: 100px 100px 200px 100px;
    margin: 150px 0 100px 0;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.why-me-section h2 {
    text-align: center;
    margin-bottom: 50px;
}









/* contact me section **************************************************************************************************************************************************************** */








.contact-me-section {
    padding: 0 30px 40px 30px;
    margin: 170px 0 0 0;
}

.contact-directery {
    justify-content: center;
    text-align: center;
}

.contact-me-section h2 {
    margin-bottom: 50px;
}


/* contact me media query */

